.testimonial_container {
  display: grid;

  gap: 1.5rem;
  width: unquote('min(80%, 68.75rem)');
  margin: auto;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'daniel'
    'jonathan'
    'jeanette'
    'patrick'
    'kira';
  padding-block: clamp(3em, 18.6vw, 10em);
}

@media (min-width: 30em) {
  .testimonial_container {
    grid-template-areas:
      'daniel daniel'
      'jeanette jonathan'
      'patrick patrick'
      'kira kira';
  }
}
@media (min-width: 73em) {
  .testimonial_container {
    grid-template-areas:
      'daniel daniel jonathan kira'
      'jeanette patrick patrick kira';
  }
}
