$Moderate_violet: hsl(263, 55%, 52%);
$Very_dark_grayish_blue: hsl(217, 19%, 35%);
$Very_dark_blackish_blue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$ight_gray: hsl(0, 0%, 81%);
$Light_grayish_blue: hsl(210, 46%, 95%);
$fnt-wgt-medium: 500;
$fnt-wgt-bold: 600;
